{
  "openapi": "3.1.0",
  "info": {
    "title": "Achichiz Storefront API",
    "description": "Public and customer-authenticated API powering the Achichiz storefront.\n\n**Money is always an integer number of paise.** `\"total\": 149900` means ₹1,499.00.\n\nErrors return a consistent `{ type: \"error\", result: {...} }` format carrying a stable `code`.\nSwitch on `result.code`, never on `title`.",
    "version": "0.1.0",
    "contact": {
      "name": "Achichiz Engineering",
      "email": "connect@achiachi.in"
    }
  },
  "servers": [
    {
      "url": "https://api.achichiz.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:4000",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Add-ons"
    },
    {
      "name": "Addresses"
    },
    {
      "name": "Auth"
    },
    {
      "name": "CMS"
    },
    {
      "name": "Cart"
    },
    {
      "name": "Checkout"
    },
    {
      "name": "Collections"
    },
    {
      "name": "Delivery"
    },
    {
      "name": "Designers"
    },
    {
      "name": "FAQ"
    },
    {
      "name": "Hamper builder"
    },
    {
      "name": "Journal"
    },
    {
      "name": "Leads"
    },
    {
      "name": "Navigation"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Pages"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Products"
    },
    {
      "name": "SEO"
    },
    {
      "name": "Search"
    },
    {
      "name": "Store / Media"
    },
    {
      "name": "System"
    },
    {
      "name": "Testimonials"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "getLiveness",
        "summary": "Liveness probe",
        "description": "Returns 200 whenever the process is running. Deliberately does NOT touch the database — a liveness probe that fails on a DB blip gets your healthy container killed during an outage.",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "The process is alive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "result"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ok"
                        },
                        "version": {
                          "type": "string"
                        },
                        "uptimeSeconds": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "status",
                        "version",
                        "uptimeSeconds"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/readyz": {
      "get": {
        "operationId": "getReadiness",
        "summary": "Readiness probe",
        "description": "Checks Postgres and Redis. Returns 503 when a dependency is down so the load balancer stops sending traffic without the container being restarted.",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "All dependencies reachable."
          },
          "503": {
            "description": "At least one dependency is unreachable."
          }
        },
        "security": []
      }
    },
    "/v1/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List and filter products",
        "description": "The product grid behind `/collections/:handle` and every merchandising rail. `price`, `stock`, `sameDay`, `bestSeller` and `isNew` are derived at read time from variants, inventory and collection membership — none of them is a stored column. Collections are wrapped as `{ data, meta }`; `meta` carries `page`, `perPage`, `total` and `totalPages`.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-indexed page number.",
            "schema": {
              "default": 1,
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Items per page. Maximum 100.",
            "schema": {
              "default": 25,
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort by. Prefix with `-` for descending, e.g. `-createdAt`.",
            "schema": {
              "type": "string",
              "pattern": "^-?[a-zA-Z][a-zA-Z0-9_]*$"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text search.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            }
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "description": "Restrict to a collection handle, any kind. e.g. `festivals-diwali`.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Category handle(s) to include. Repeat the parameter for several, e.g. `type=drinkware&type=candles`.",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          {
            "name": "designer",
            "in": "query",
            "required": false,
            "description": "Restrict to one designer handle.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$"
            }
          },
          {
            "name": "minPricePaise",
            "in": "query",
            "required": false,
            "description": "Inclusive lower price bound, integer paise.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "maxPricePaise",
            "in": "query",
            "required": false,
            "description": "Inclusive upper price bound, integer paise.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "inStock",
            "in": "query",
            "required": false,
            "description": "`true` hides products whose `stock` is `out`.",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1",
                "true",
                "false"
              ]
            }
          },
          {
            "name": "sameDay",
            "in": "query",
            "required": false,
            "description": "`true` keeps only products with same-day-capable stock.",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1",
                "true",
                "false"
              ]
            }
          },
          {
            "name": "personalisable",
            "in": "query",
            "required": false,
            "description": "`true` keeps only personalisable products.",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1",
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of products.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "result",
                    "meta"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                            "description": "Product id. Stable; prefer `handle` for URLs."
                          },
                          "handle": {
                            "type": "string",
                            "description": "URL slug, e.g. `bamboo-water-bottle`. Routes `/products/:handle`."
                          },
                          "sku": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "SKU of the default variant. SKUs live on variants, not products."
                          },
                          "title": {
                            "type": "string",
                            "description": "Product name."
                          },
                          "subtitle": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Short merchandising line under the title."
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "hamper",
                              "single_gift",
                              "personalised",
                              "gourmet",
                              "add_on",
                              "builder"
                            ],
                            "description": "Fulfilment class — does it need assembly, personalisation, is it an add-on."
                          },
                          "designer": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                    "description": "Designer id."
                                  },
                                  "handle": {
                                    "type": "string",
                                    "description": "Designer URL slug."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Display name, e.g. `Studio Kaya`."
                                  }
                                },
                                "required": [
                                  "id",
                                  "handle",
                                  "name"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Attributed designer/brand, or null."
                          },
                          "type": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Merchandising category handle (the collection of `kind=category` this product leads with), e.g. `drinkware`. This is the storefront `type` facet; it is NOT `kind`."
                          },
                          "typeLabel": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Human label for `type`, e.g. `Drinkware`."
                          },
                          "pricePaise": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991,
                            "description": "Lowest active variant price, GST-inclusive, in integer paise. 149900 = ₹1,499.00."
                          },
                          "compareAtPaise": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Struck-through was-price in integer paise, or null when not on offer."
                          },
                          "image": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                    "description": "Media asset id."
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "CDN URL when one exists, otherwise the origin URL."
                                  },
                                  "altText": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ],
                                    "description": "Alt text for accessibility. May be null."
                                  },
                                  "position": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991,
                                    "description": "0-based display order within the gallery."
                                  }
                                },
                                "required": [
                                  "id",
                                  "url",
                                  "altText",
                                  "position"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Primary product image, or null when none is attached."
                          },
                          "collectionHandles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Every live collection this product belongs to, any kind."
                          },
                          "occasionHandles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Subset of `collectionHandles` of kind `occasion` or `festival`."
                          },
                          "recipientHandles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Subset of `collectionHandles` of kind `recipient`."
                          },
                          "stock": {
                            "type": "string",
                            "enum": [
                              "in",
                              "low",
                              "out"
                            ],
                            "description": "Presentation of live availability, never stored: `out` when available quantity is 0, `low` when it is at or below the product low-stock threshold, otherwise `in`."
                          },
                          "stockQty": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991,
                            "description": "Available units summed across warehouses (on-hand minus reserved)."
                          },
                          "sameDay": {
                            "type": "boolean",
                            "description": "True when stock sits in at least one same-day-capable warehouse. Destination still decides — confirm with `GET /v1/serviceability`."
                          },
                          "bestSeller": {
                            "type": "boolean",
                            "description": "Membership of the `best-sellers` collection, unless `badgeOverride` forces it either way."
                          },
                          "isNew": {
                            "type": "boolean",
                            "description": "Published within the last 30 days, unless `badgeOverride` forces it either way."
                          },
                          "personalisable": {
                            "type": "boolean",
                            "description": "Accepts engraving/printing. See `personalisationTemplates` on the detail."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Free-form merchandising tags, e.g. `fragile`, `gift-ready`."
                          },
                          "ratingAvg": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Mean published review rating 1.0–5.0, or null when unreviewed."
                          },
                          "reviewCount": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991,
                            "description": "Count of published reviews."
                          },
                          "publishedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "ISO-8601 publish timestamp."
                          }
                        },
                        "required": [
                          "id",
                          "handle",
                          "sku",
                          "title",
                          "subtitle",
                          "kind",
                          "designer",
                          "type",
                          "typeLabel",
                          "pricePaise",
                          "compareAtPaise",
                          "image",
                          "collectionHandles",
                          "occasionHandles",
                          "recipientHandles",
                          "stock",
                          "stockQty",
                          "sameDay",
                          "bestSeller",
                          "isNew",
                          "personalisable",
                          "tags",
                          "ratingAvg",
                          "reviewCount",
                          "publishedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "page",
                        "perPage",
                        "total",
                        "totalPages"
                      ],
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "1-indexed page number."
                        },
                        "perPage": {
                          "type": "integer",
                          "description": "Items in this page."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total items matching the query."
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total pages at this `perPage`."
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/products/{handle}": {
      "get": {
        "operationId": "getProductByHandle",
        "summary": "Get a product by handle",
        "description": "Everything the PDP renders in one call: gallery, contents, variants with per-variant stock, add-ons (falling back to the global set when none are pinned), personalisation templates, related handles and SEO overrides.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "URL slug of the resource, e.g. `bamboo-water-bottle`.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120,
              "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The product.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "result"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                          "description": "Product id. Stable; prefer `handle` for URLs."
                        },
                        "handle": {
                          "type": "string",
                          "description": "URL slug, e.g. `bamboo-water-bottle`. Routes `/products/:handle`."
                        },
                        "sku": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "SKU of the default variant. SKUs live on variants, not products."
                        },
                        "title": {
                          "type": "string",
                          "description": "Product name."
                        },
                        "subtitle": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Short merchandising line under the title."
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "hamper",
                            "single_gift",
                            "personalised",
                            "gourmet",
                            "add_on",
                            "builder"
                          ],
                          "description": "Fulfilment class — does it need assembly, personalisation, is it an add-on."
                        },
                        "designer": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                  "description": "Designer id."
                                },
                                "handle": {
                                  "type": "string",
                                  "description": "Designer URL slug."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Display name, e.g. `Studio Kaya`."
                                }
                              },
                              "required": [
                                "id",
                                "handle",
                                "name"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Attributed designer/brand, or null."
                        },
                        "type": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Merchandising category handle (the collection of `kind=category` this product leads with), e.g. `drinkware`. This is the storefront `type` facet; it is NOT `kind`."
                        },
                        "typeLabel": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Human label for `type`, e.g. `Drinkware`."
                        },
                        "pricePaise": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Lowest active variant price, GST-inclusive, in integer paise. 149900 = ₹1,499.00."
                        },
                        "compareAtPaise": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Struck-through was-price in integer paise, or null when not on offer."
                        },
                        "image": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                  "description": "Media asset id."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "CDN URL when one exists, otherwise the origin URL."
                                },
                                "altText": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Alt text for accessibility. May be null."
                                },
                                "position": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991,
                                  "description": "0-based display order within the gallery."
                                }
                              },
                              "required": [
                                "id",
                                "url",
                                "altText",
                                "position"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Primary product image, or null when none is attached."
                        },
                        "collectionHandles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Every live collection this product belongs to, any kind."
                        },
                        "occasionHandles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Subset of `collectionHandles` of kind `occasion` or `festival`."
                        },
                        "recipientHandles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Subset of `collectionHandles` of kind `recipient`."
                        },
                        "stock": {
                          "type": "string",
                          "enum": [
                            "in",
                            "low",
                            "out"
                          ],
                          "description": "Presentation of live availability, never stored: `out` when available quantity is 0, `low` when it is at or below the product low-stock threshold, otherwise `in`."
                        },
                        "stockQty": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Available units summed across warehouses (on-hand minus reserved)."
                        },
                        "sameDay": {
                          "type": "boolean",
                          "description": "True when stock sits in at least one same-day-capable warehouse. Destination still decides — confirm with `GET /v1/serviceability`."
                        },
                        "bestSeller": {
                          "type": "boolean",
                          "description": "Membership of the `best-sellers` collection, unless `badgeOverride` forces it either way."
                        },
                        "isNew": {
                          "type": "boolean",
                          "description": "Published within the last 30 days, unless `badgeOverride` forces it either way."
                        },
                        "personalisable": {
                          "type": "boolean",
                          "description": "Accepts engraving/printing. See `personalisationTemplates` on the detail."
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Free-form merchandising tags, e.g. `fragile`, `gift-ready`."
                        },
                        "ratingAvg": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Mean published review rating 1.0–5.0, or null when unreviewed."
                        },
                        "reviewCount": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991,
                          "description": "Count of published reviews."
                        },
                        "publishedAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "ISO-8601 publish timestamp."
                        },
                        "description": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Long-form description. Plain text."
                        },
                        "isPerishable": {
                          "type": "boolean",
                          "description": "Perishable goods carry shorter delivery promises."
                        },
                        "isFragile": {
                          "type": "boolean",
                          "description": "Drives packaging selection and courier choice."
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                "description": "Media asset id."
                              },
                              "url": {
                                "type": "string",
                                "description": "CDN URL when one exists, otherwise the origin URL."
                              },
                              "altText": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Alt text for accessibility. May be null."
                              },
                              "position": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "description": "0-based display order within the gallery."
                              }
                            },
                            "required": [
                              "id",
                              "url",
                              "altText",
                              "position"
                            ],
                            "additionalProperties": false
                          },
                          "description": "Full gallery in display order. `image` is the first of these."
                        },
                        "contents": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The \"what is inside\" bullets, in order."
                        },
                        "variants": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                "description": "Variant id. Cart lines reference this, never the product."
                              },
                              "sku": {
                                "type": "string",
                                "description": "Stock-keeping unit."
                              },
                              "optionLabel": {
                                "type": "string",
                                "description": "Display label, e.g. `Signature`, `Rose`, `A5`."
                              },
                              "optionValue": {
                                "type": "string",
                                "description": "Machine value/slug of the option, e.g. `signature`."
                              },
                              "pricePaise": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "description": "GST-inclusive price in integer paise."
                              },
                              "compareAtPaise": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Struck-through was-price in integer paise."
                              },
                              "weightGrams": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Shipping weight in grams."
                              },
                              "isDefault": {
                                "type": "boolean",
                                "description": "The variant preselected on the PDP. Exactly one per product."
                              },
                              "position": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "description": "Display order."
                              },
                              "stock": {
                                "type": "string",
                                "enum": [
                                  "in",
                                  "low",
                                  "out"
                                ],
                                "description": "Presentation of live availability, never stored: `out` when available quantity is 0, `low` when it is at or below the product low-stock threshold, otherwise `in`."
                              },
                              "stockQty": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "description": "Available units for this variant across warehouses."
                              }
                            },
                            "required": [
                              "id",
                              "sku",
                              "optionLabel",
                              "optionValue",
                              "pricePaise",
                              "compareAtPaise",
                              "weightGrams",
                              "isDefault",
                              "position",
                              "stock",
                              "stockQty"
                            ],
                            "additionalProperties": false
                          },
                          "description": "Every active variant. Always at least one."
                        },
                        "addOns": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                "description": "Add-on id. Cart lines reference this."
                              },
                              "code": {
                                "type": "string",
                                "description": "Stable code, e.g. `card`, `engraving`, `premium`."
                              },
                              "name": {
                                "type": "string",
                                "description": "Customer-facing label."
                              },
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "packaging",
                                  "message",
                                  "fresh",
                                  "bakery",
                                  "digital",
                                  "engraving",
                                  "other"
                                ],
                                "description": "What sort of add-on this is; drives which input the PDP renders."
                              },
                              "pricePaise": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "description": "Price in integer paise, already resolved against any per-product override."
                              },
                              "requiresInput": {
                                "type": "boolean",
                                "description": "True when the shopper must supply text (engraving, card message)."
                              },
                              "inputCharLimit": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Server-enforced character cap on that text. The HTML `maxlength` is not the rule."
                              },
                              "leadTimeHours": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "description": "Extra production hours this add-on adds to the promise date."
                              }
                            },
                            "required": [
                              "id",
                              "code",
                              "name",
                              "kind",
                              "pricePaise",
                              "requiresInput",
                              "inputCharLimit",
                              "leadTimeHours"
                            ],
                            "additionalProperties": false
                          },
                          "description": "Add-ons offered on this product. Falls back to the global default set when none are pinned."
                        },
                        "personalisationTemplates": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                "description": "Template id."
                              },
                              "name": {
                                "type": "string",
                                "description": "Template name, e.g. `Laser name engraving`."
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "engraving",
                                  "embroidery",
                                  "print",
                                  "digital",
                                  "laser"
                                ],
                                "description": "Production method, which decides the studio queue."
                              },
                              "turnaroundHours": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "description": "Production hours this method adds before dispatch."
                              },
                              "charLimit": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Server-enforced character cap, or null for unlimited."
                              },
                              "allowsImage": {
                                "type": "boolean",
                                "description": "True when a logo/artwork upload is accepted."
                              },
                              "proofRequired": {
                                "type": "boolean",
                                "description": "True when a digital proof must be approved before production."
                              },
                              "surchargePaise": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991,
                                "description": "Surcharge in integer paise."
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "method",
                              "turnaroundHours",
                              "charLimit",
                              "allowsImage",
                              "proofRequired",
                              "surchargePaise"
                            ],
                            "additionalProperties": false
                          },
                          "description": "Personalisation methods available. Empty when `personalisable` is false."
                        },
                        "relatedHandles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Handles of products sharing the most collections with this one, best first."
                        },
                        "seo": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "metaTitle": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "`<title>` override. Falls back to the resource title."
                                },
                                "metaDescription": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "`<meta name=\"description\">` content."
                                },
                                "canonicalUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Canonical URL when this page duplicates another."
                                },
                                "focusKeyword": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Primary keyword the page targets."
                                },
                                "robotsIndex": {
                                  "type": "boolean",
                                  "description": "False emits `noindex`."
                                },
                                "robotsFollow": {
                                  "type": "boolean",
                                  "description": "False emits `nofollow`."
                                },
                                "ogImageUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Open Graph image URL."
                                },
                                "structuredData": {
                                  "anyOf": [
                                    {},
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "JSON-LD document to embed verbatim, or null."
                                }
                              },
                              "required": [
                                "metaTitle",
                                "metaDescription",
                                "canonicalUrl",
                                "focusKeyword",
                                "robotsIndex",
                                "robotsFollow",
                                "ogImageUrl",
                                "structuredData"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "SEO overrides for this PDP, or null to fall back to defaults."
                        }
                      },
                      "required": [
                        "id",
                        "handle",
                        "sku",
                        "title",
                        "subtitle",
                        "kind",
                        "designer",
                        "type",
                        "typeLabel",
                        "pricePaise",
                        "compareAtPaise",
                        "image",
                        "collectionHandles",
                        "occasionHandles",
                        "recipientHandles",
                        "stock",
                        "stockQty",
                        "sameDay",
                        "bestSeller",
                        "isNew",
                        "personalisable",
                        "tags",
                        "ratingAvg",
                        "reviewCount",
                        "publishedAt",
                        "description",
                        "isPerishable",
                        "isFragile",
                        "images",
                        "contents",
                        "variants",
                        "addOns",
                        "personalisationTemplates",
                        "relatedHandles",
                        "seo"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "No published product has that handle."
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/products/{handle}/variants": {
      "get": {
        "operationId": "listProductVariants",
        "summary": "List a product’s variants",
        "description": "The stock-bearing units. Cart lines reference a variant id, never a product id. Already included in `getProductByHandle` — use this when only availability changed.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "URL slug of the resource, e.g. `bamboo-water-bottle`.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120,
              "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active variants in display order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "result",
                    "meta"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                            "description": "Variant id. Cart lines reference this, never the product."
                          },
                          "sku": {
                            "type": "string",
                            "description": "Stock-keeping unit."
                          },
                          "optionLabel": {
                            "type": "string",
                            "description": "Display label, e.g. `Signature`, `Rose`, `A5`."
                          },
                          "optionValue": {
                            "type": "string",
                            "description": "Machine value/slug of the option, e.g. `signature`."
                          },
                          "pricePaise": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991,
                            "description": "GST-inclusive price in integer paise."
                          },
                          "compareAtPaise": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Struck-through was-price in integer paise."
                          },
                          "weightGrams": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Shipping weight in grams."
                          },
                          "isDefault": {
                            "type": "boolean",
                            "description": "The variant preselected on the PDP. Exactly one per product."
                          },
                          "position": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991,
                            "description": "Display order."
                          },
                          "stock": {
                            "type": "string",
                            "enum": [
                              "in",
                              "low",
                              "out"
                            ],
                            "description": "Presentation of live availability, never stored: `out` when available quantity is 0, `low` when it is at or below the product low-stock threshold, otherwise `in`."
                          },
                          "stockQty": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991,
                            "description": "Available units for this variant across warehouses."
                          }
                        },
                        "required": [
                          "id",
                          "sku",
                          "optionLabel",
                          "optionValue",
                          "pricePaise",
                          "compareAtPaise",
                          "weightGrams",
                          "isDefault",
                          "position",
                          "stock",
                          "stockQty"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "page",
                        "perPage",
                        "total",
                        "totalPages"
                      ],
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "1-indexed page number."
                        },
                        "perPage": {
                          "type": "integer",
                          "description": "Items in this page."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total items matching the query."
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total pages at this `perPage`."
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "No published product has that handle."
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/collections": {
      "get": {
        "operationId": "listCollections",
        "summary": "List collections",
        "description": "One table serves all six taxonomy kinds (category, recipient, occasion, festival, designer, edit) — filter with `kind`. `productCount` counts live products only. Scheduled collections appear once their window opens. Collections are wrapped as `{ data, meta }`; `meta` carries `page`, `perPage`, `total` and `totalPages`.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-indexed page number.",
            "schema": {
              "default": 1,
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Items per page. Maximum 100.",
            "schema": {
              "default": 25,
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort by. Prefix with `-` for descending, e.g. `-createdAt`.",
            "schema": {
              "type": "string",
              "pattern": "^-?[a-zA-Z][a-zA-Z0-9_]*$"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text search.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Restrict to one taxonomy kind.",
            "schema": {
              "type": "string",
              "enum": [
                "category",
                "recipient",
                "occasion",
                "festival",
                "designer",
                "edit"
              ]
            }
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "description": "Restrict to direct children of this collection handle.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "required": false,
            "description": "`true` keeps only featured collections.",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1",
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of collections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "result",
                    "meta"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                            "description": "Collection id."
                          },
                          "handle": {
                            "type": "string",
                            "description": "URL slug. Routes `/collections/:handle`."
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "category",
                              "recipient",
                              "occasion",
                              "festival",
                              "designer",
                              "edit"
                            ],
                            "description": "Taxonomy discriminator. One `collections` table serves all six."
                          },
                          "parentHandle": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Parent collection handle, or null at the top level."
                          },
                          "title": {
                            "type": "string",
                            "description": "Nav label, e.g. `Drinkware`."
                          },
                          "heading": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Page H1, e.g. `Bamboo Drinkware`."
                          },
                          "subtext": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Short intro paragraph under the H1."
                          },
                          "seoDescription": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "SEO copy block rendered at the foot of the listing."
                          },
                          "image": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                    "description": "Media asset id."
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "CDN URL when one exists, otherwise the origin URL."
                                  },
                                  "altText": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ],
                                    "description": "Alt text for accessibility. May be null."
                                  },
                                  "position": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991,
                                    "description": "0-based display order within the gallery."
                                  }
                                },
                                "required": [
                                  "id",
                                  "url",
                                  "altText",
                                  "position"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Hero image, or null."
                          },
                          "curator": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Editor credit. Only meaningful for `kind=edit`."
                          },
                          "designer": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                    "description": "Designer id."
                                  },
                                  "handle": {
                                    "type": "string",
                                    "description": "Designer URL slug."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Display name, e.g. `Studio Kaya`."
                                  }
                                },
                                "required": [
                                  "id",
                                  "handle",
                                  "name"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Attributed designer. Only set for `kind=designer`."
                          },
                          "isFeatured": {
                            "type": "boolean",
                            "description": "Surfaced on the homepage tiles."
                          },
                          "sortOrder": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991,
                            "description": "Manual display order within its kind."
                          },
                          "productCount": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991,
                            "description": "Live, active products currently in this collection."
                          }
                        },
                        "required": [
                          "id",
                          "handle",
                          "kind",
                          "parentHandle",
                          "title",
                          "heading",
                          "subtext",
                          "seoDescription",
                          "image",
                          "curator",
                          "designer",
                          "isFeatured",
                          "sortOrder",
                          "productCount"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "page",
                        "perPage",
                        "total",
                        "totalPages"
                      ],
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "1-indexed page number."
                        },
                        "perPage": {
                          "type": "integer",
                          "description": "Items in this page."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total items matching the query."
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total pages at this `perPage`."
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/collections/{handle}": {
      "get": {
        "operationId": "getCollectionByHandle",
        "summary": "Get a collection with its facets",
        "description": "The collection plus the two things the listing page cannot compute for itself: the category facets actually present in it (with counts) and the real price-slider bounds. Fetch the products themselves from `listCollectionProducts`.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "URL slug of the resource, e.g. `bamboo-water-bottle`.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120,
              "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection, its facets and price bounds.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "result"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "collection": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                              "description": "Collection id."
                            },
                            "handle": {
                              "type": "string",
                              "description": "URL slug. Routes `/collections/:handle`."
                            },
                            "kind": {
                              "type": "string",
                              "enum": [
                                "category",
                                "recipient",
                                "occasion",
                                "festival",
                                "designer",
                                "edit"
                              ],
                              "description": "Taxonomy discriminator. One `collections` table serves all six."
                            },
                            "parentHandle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "Parent collection handle, or null at the top level."
                            },
                            "title": {
                              "type": "string",
                              "description": "Nav label, e.g. `Drinkware`."
                            },
                            "heading": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "Page H1, e.g. `Bamboo Drinkware`."
                            },
                            "subtext": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "Short intro paragraph under the H1."
                            },
                            "seoDescription": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "SEO copy block rendered at the foot of the listing."
                            },
                            "image": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid",
                                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                      "description": "Media asset id."
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "CDN URL when one exists, otherwise the origin URL."
                                    },
                                    "altText": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ],
                                      "description": "Alt text for accessibility. May be null."
                                    },
                                    "position": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991,
                                      "description": "0-based display order within the gallery."
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "url",
                                    "altText",
                                    "position"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "Hero image, or null."
                            },
                            "curator": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "Editor credit. Only meaningful for `kind=edit`."
                            },
                            "designer": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid",
                                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                                      "description": "Designer id."
                                    },
                                    "handle": {
                                      "type": "string",
                                      "description": "Designer URL slug."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Display name, e.g. `Studio Kaya`."
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "handle",
                                    "name"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "Attributed designer. Only set for `kind=designer`."
                            },
                            "isFeatured": {
                              "type": "boolean",
                              "description": "Surfaced on the homepage tiles."
                            },
                            "sortOrder": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "description": "Manual display order within its kind."
                            },
                            "productCount": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "description": "Live, active products currently in this collection."
                            }
                          },
                          "required": [
                            "id",
                            "handle",
                            "kind",
                            "parentHandle",
                            "title",
                            "heading",
                            "subtext",
                            "seoDescription",
                            "image",
                            "curator",
                            "designer",
                            "isFeatured",
                            "sortOrder",
                            "productCount"
                          ],
                          "additionalProperties": false,
                          "description": "The collection itself."
                        },
                        "availableTypes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "handle": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "handle",
                              "title",
                              "count"
                            ],
                            "additionalProperties": false
                          },
                          "description": "Category facets present in this collection, with counts. Computed server-side."
                        },
                        "priceBounds": {
                          "type": "object",
                          "properties": {
                            "minPaise": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "description": "Cheapest product in the collection, integer paise."
                            },
                            "maxPaise": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "description": "Dearest product in the collection, integer paise."
                            }
                          },
                          "required": [
                            "minPaise",
                            "maxPaise"
                          ],
                          "additionalProperties": false,
                          "description": "Price slider bounds for this collection."
                        },
                        "seo": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "metaTitle": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "`<title>` override. Falls back to the resource title."
                                },
                                "metaDescription": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "`<meta name=\"description\">` content."
                                },
                                "canonicalUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
[...]
